@use "../../shared/styles/colors" as c;
@import "../../shared/styles/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", serif;
}

.App {
  width: 100%;
  min-height: 100vh;
  background: c.$black;
}
